.mobile {display:none;}
@media screen and (max-width: 600px) {
.mobile {display:inline;}
}
.desktop {display:inline;}
@media screen and (max-width: 600px) {
.desktop {display:none;}
}



<span style="text-decoration: underline; text-decoration-color: #FB4570; text-decoration-skip-ink: auto; text-underline-offset: 4px;">
